.lineWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .letterContainer {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 1px solid black;
        background-color: rgb(231, 209, 197);
        color: black;

        &[color-board="T"] {
            background-color: rgb(180, 226, 119);
        }

        &[color-board="F"] {
            background-color: rgb(238, 114, 114);
        }

        &[color-board="R"] {
            background-color: rgb(219, 189, 90);
        }

        @media screen and (min-width: 768px) {
            width: 80px;
            height: 80px;
        }

        @media screen and (min-width: 1024px) {
            width: 90px;
            height: 90px;
        }

        p {
            font-size: 1.5rem;
            @media screen and (min-width: 768px) {
                font-size: 2rem;
            }
        }
    }
}
